<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}"> <!--musimy zawrzeć ten zapis-->
 <!--cały <head> będziemy brany z szablonu layout-->
<body>

<div class="container">
    <h2>Sposoby dostawy</h2>
    <h4 th:text="${shippingMethodName1}"></h4>
    <h4 th:text="|${#numbers.formatDecimal(shippingMethodPrice1, 1, 2)} zł|"></h4>
    <!--|| dla TH oznacza, że łączymy w jedno wyrażenia z tekstem pisanym; formatDecimal(..., min. ilosc znakow przed przecinkiem, ilosc zników po przecinku)-->
    <h4 th:text="${shippingMethodName2}"></h4>
    <h4 th:text="|${#numbers.formatDecimal(shippingMethodPrice2, 1, 2)} zł|"></h4>
    <h4 th:text="${shippingMethodName3}"></h4>
    <h4 th:text="|${#numbers.formatDecimal(shippingMethodPrice3, 1, 2)} zł|"></h4>
</div>

</body>
</html>
